.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.linkDestacado {
    background-color: var(--cor-fonte-principal);
    padding: 5px 20px;
    border-radius: 15px;
    color: var(--branco);
}